<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sonicwu.rgb2hex</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>CB308760-026B-4A2C-9F40-756788C828F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50404BDB-8026-4FC9-B8BC-7C0B476C5FA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sonic Wu</string>
	<key>description</key>
	<string>Convert RGB values of a color to a hexadecimal string</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RGB to Hex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>50404BDB-8026-4FC9-B8BC-7C0B476C5FA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>python rgb2hex.py "{query}"</string>
				<key>subtext</key>
				<string>Convert RGB values of a color to a hexadecimal string</string>
				<key>title</key>
				<string>RGB to Hex</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CB308760-026B-4A2C-9F40-756788C828F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>50404BDB-8026-4FC9-B8BC-7C0B476C5FA3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CB308760-026B-4A2C-9F40-756788C828F8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/sonicwu/alfred-rgb2hex</string>
</dict>
</plist>
